body { 
    font-family: 'Geist Mono', sans-serif; 
    font-size: 16px;
    line-height: 1.4; 
    margin: 0 auto; /* Center the content */
    padding: 20px; 
    background-color: #ffffee;
    color: #333333;
    max-width: 800px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

.logo {
    font-size: 1.3em;
    text-decoration: none;
    color: #000000;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 0.8em;
}

p {
    font-size: 0.6em;
}

.divider {
    height: 0.1px; 
    background-color: #333333; 
    margin: 20px 0;
}

.experience-item {
    margin-bottom: 2em;
}

.experience-description {
    line-height: 1.4;
}

.company-name {
    font-weight: bold;
}

.job-duration {
    font-style: italic;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    color: dodgerblue;
    transition: color 0.3s;
}

.social-links h2 {
    margin-bottom: 10px;
}

.social-links ul li {
    margin-top: 0;
    font-size: 0.8em;
}